
.survey_content_register {

}

.register-content-label-password-description {
  font-size: 12px;
  margin-left: 10px;
}

.survey_content_register .register-agreement {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  width: 360px;
  height: 43px;
  border-radius: 3px;
  border: solid 1px #000000;
  flex-wrap: wrap;
}
.survey_main .survey_content_register .register-agreement.survey_error {
  border-bottom: solid 1px #000000 !important;
}

@media (max-width: 450px) {
  .survey_content_register .register-agreement-checkbox {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px 5px;
    width: 22px;
    height: 22px;
    border-radius: 2px;
    background-color: var(--blue);
  }

  .survey_content_register .register-agreement-checkbox-small {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px 5px;
    width: 19px;
    height: 19px;
    border-radius: 2px;
    background-color: var(--blue);
  }
}

@media (min-width: 450px) {
  .survey_content_register .register-agreement-checkbox {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px 10px;
    width: 22px;
    height: 22px;
    border-radius: 2px;
    background-color: var(--blue);
  }

  .survey_content_register .register-agreement-checkbox-small {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px 10px;
    width: 19px;
    height: 19px;
    border-radius: 2px;
    background-color: var(--blue);
  }
}

.all-agreement-checkbox-checked-svg {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2px 2px;
  width: 18px;
  height: 18px;
  object-fit: contain;
  background: url("../img/checkbox-selected-icon.svg") no-repeat center center;
}

.small-agreement-checkbox-checked-svg {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2px 2px;
  width: 16px;
  height: 16px;
  object-fit: contain;
  background: url("../img/checkbox-selected-icon.svg") no-repeat center center;
}


@media (max-width: 450px) {
  .register-agreement-text {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    height: 100%;
    width: calc(100% - 70px);
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    color: var(--black);
  }

  .register-agreement-text span {
    padding-top: 15px;
  }

  .register-agreement-text-small {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    height: 100%;
    width: 100%;
    margin-top: 15px;
    margin-left: 1px;
    padding-bottom: 2px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    color: var(--black);
  }
}

@media (min-width: 450px) {
  .register-agreement-text {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    height: 100%;
    width: calc(100% - 70px);
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    color: var(--black);
  }

  .register-agreement-text span {
    padding-top: 15px;
  }

  .register-agreement-text-small {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    height: 100%;
    width: 100%;
    margin-top: 15px;
    margin-left: 1px;
    padding-bottom: 2px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    color: var(--black);
  }
}

.all-agreement-dropdown {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-top: 17px;
}

.register-agreement-select {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
}

.register-agreement-select-options {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 0;
  width: 100%;
  border-radius: 3px;
  margin-top: 1px;
  border: solid 1px #000000;
}
.survey_main .register-agreement-select-options.survey_error {
  border-bottom: solid 1px #000000 !important;
}

.register-agreement-select-section-row {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
}

.survey_content_register .register-validation-agreement {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 5px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: var(--red);
}
