.survey_content_verify-email {
  width: 400px;
}

.survey_content_verify-email .survey_content_bottom{
  justify-content: flex-end;
}

.survey_content_verify-email .survey_content_subtitle{
  display: inline-block;
}

@media (max-width: 450px) {
  .survey_content_reset-password .survey_content_bottom .survey_content_bottom-left{
    width: calc(50% - 10px) !important;
  }
  .survey_content_reset-password .survey_content_bottom .survey_content_bottom-right{
    width: calc(50% - 10px) !important;
  }
}